@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400);

@baseFontFamily:        "PT serif";
@titleFontFamily:       "PT Sans";
@legendFontFamily:      "PT Sans";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.container {

  h1 {
    font-family: @titleFontFamily;
  }

  h2 {
    font-family: @titleFontFamily;
  }

  p {
    font-family: @baseFontFamily;
  }

}

.axis {

  line path {
    shape-rendering: crispEdges;
    fill: none;
    stroke: black;
  }

  .tick {
    text {
      font-size: 10px;
      font-family: @legendFontFamily;
    }
  }
}